.items-filter {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  background: plum;
}
select option {
  background: antiquewhite;
}
.items-filter__control {
  margin: 1rem 60px;
}

.items-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 10px;
}

.items-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
.button {
  color: black;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  transform: scale(1.1);
}